<section class="todo-list">
    <header>
        <form class="form-inline" id="add-todo" action="users/{{user.id}}/todos/" method="post">
            <input type="hidden" name="_method" value="post" />
            <input type="hidden" name="successRedirect" value="{{todoCreateSuccessRedirect}}" />
            <input type="hidden" name="failureRedirect" value="{{todoCreateFailureRedirect}}" />
            <div class="form-group">
                <label class="sr-only" for="add-todo:content">New todo</label>
                <input class="form-control" id="add-todo:content" name="content" type="text" />
            </div>
            <button class="btn btn-primary" type="submit" form="add-todo">Add</button>
        </form>
    </header>
    {{#if todos}}
        <ul class="list-unstyled">
            {{#each todos}}
                <li>
                    <form class="form-inline" id="{{id}}-update" action="users/{{../user.id}}/todos/{{id}}" method="post">
                        <input type="hidden" name="_method" value="patch" />
                        <input type="hidden" name="successRedirect" value="{{../todoUpdateSuccessRedirect}}" />
                        <input type="hidden" name="failureRedirect" value="{{../todoUpdateeFailureRedirect}}" />
                        <input type="hidden" name="isDone" value="{{#if isDone}}{{else}}true{{/if}}" />
                    </form>
                    <form id="{{id}}-destroy" action="/users/{{../user.id}}/todos/{{id}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="successRedirect" value="{{../todoDestroySuccessRedirect}}">
                        <input type="hidden" name="failureRedirect" value="{{../todoDestroyFailureRedirect}}">
                    </form>
                    <div class="row">
                        <div class="col-xs-2">
                            <button class="btn btn-link btn-lg" type="submit" form="{{id}}-update">
                                {{#if isDone}}
                                    <span class="sr-only">Mark as undone</span>
                                    <span class="glyphicon glyphicon-ok glyphicon-inverse"></span>
                                {{else}}
                                    <span class="sr-only">Mark as done</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                {{/if}}
                            </button>
                        </div>
                        <div class="col-xs-8">
                            {{#if isDone}}
                                <strike class="lead">{{content}}</strike>
                            {{else}}
                                <span class="lead">{{content}}</span>
                            {{/if}}
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-link btn-lg" type="submit" form="{{id}}-destroy">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span class="sr-only">Remove</span>
                            </button>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>
<!--<header id="header">-->
<!--<h1>todos</h1>-->
<!--<form id="todo-form" ng-submit="addTodo()">-->
<!--<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>-->
<!--</form>-->
<!--</header>-->
<!--<section id="main" ng-show="todos.length" ng-cloak>-->
<!--<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">-->
<!--<label for="toggle-all">Mark all as complete</label>-->
<!--<ul id="todo-list">-->
<!--<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">-->
<!--<div class="view">-->
<!--<input class="toggle" type="checkbox" ng-model="todo.completed">-->
<!--<label ng-dblclick="editTodo(todo)">{{!--todo.title--}}</label>-->
<!--<button class="destroy" ng-click="removeTodo(todo)"></button>-->
<!--</div>-->
<!--<form ng-submit="doneEditing(todo)">-->
<!--<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">-->
<!--</form>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->
<!--<footer id="footer" ng-show="todos.length" ng-cloak>-->
<!--<span id="todo-count"><strong>{{!--remainingCount--}}</strong>-->
<!--<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>-->
<!--</span>-->
<!--<ul id="filters">-->
<!--<li>-->
<!--<a ng-class="{selected: status == ''} " href="#/">All</a>-->
<!--</li>-->
<!--<li>-->
<!--<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>-->
<!--</li>-->
<!--<li>-->
<!--<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>-->
<!--</li>-->
<!--</ul>-->
<!--<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>-->
<!--</footer>-->